body {
   background-image: url("pictures/phone_background.png");
   background-color: #red;
   background-size: cover;
}

#temp-graph{
    position: absolute;
	height:25%;
	width:45%;
	top: 128%;
	left: 28%;
}

#light-graph{
    position: absolute;
	height:25%;
	width:45%;
	top: 23%;
	left: 28%;
}

#light-status{
    position: absolute;
	width: 38%;
	height: 42%;
	top: 73%;
	left: 30%;
	background-size: cover;
	opacity: 0.9;
}

#temp-status{
    position: absolute;
	width: 38%;
	height: 42%;
	top: 178%;
	left: 30%;
	background-size: cover;
	opacity: 0.5;
}

#white-background{
	background-color: white;
    position: absolute;
	top: 5%;
	left: 10%;
	right: 10%;
	width: 80%;
	height: 220%;
	opacity: 0.95;
	border-width: 5px;
	border-color: #A901DB;
	border-style: solid;
	border-radius: 10px;
}

#heading{
	position: absolute;
	top: 4%;
	left: 32%;
}

#text{
	position: absolute;
	top: 10%;
	left: 33%;
}

#lights-text{
	position: absolute;
	top: 15%;
	left: 45%;
}

#temp-text{
	position: absolute;
	top: 118%;
	left: 39%;
}

#lights_btn_ON{
    color: black;
	font-size: 250%;
    text-align: center;
	background-color: grey;
	width:33%;
	height:10%;
    position: absolute;
	top: 60.5%;
	left: 52%;
}

#lights_btn_OFF{
    color: black;
	font-size: 250%;
    text-align: center;
	background-color: grey;
	width:33%;
	height:10%;
    position: absolute;
	top: 60.5%;
	left: 16%;
}

#temp_btn_ON{
    color: black;
	font-size: 250%;
    text-align: center;
	background-color: grey;
	width:33%;
	height:10%;
    position: absolute;
	top: 165.5%;
	left: 52%;
}

#temp_btn_OFF{
    color: black;
	font-size: 250%;
    text-align: center;
	background-color: grey;
	width:33%;
	height:10%;
    position: absolute;
	top: 165.5%;
	left: 16%;
}