body {
   background-color: #red;
   background-size: cover;
}

#temp-graph{
    position: absolute;
	height:35%;
	width:30%;
	top: 18%;
	left: 50%;
	align: center;
}

#light-graph{
    position: absolute;
	height:35%;
	width:30%;
	top: 18%;
	left: 15%;
}

#light-status{
    position: absolute;
	width:6%;
	height: 22%;
	top: 65%;
	left: 27%;
	background-size: cover;
	opacity: 0.9;
}

#temp-status{
    position: absolute;
	width:6%;
	height: 22%;
	top: 65%;
	left: 62%;
	background-size: cover;
	opacity: 0.9;
}

#white-background{
	background-color: white;
    position: absolute;
	top: 5%;
	left: 10%;
	right: 10%;
	width: 80%;
	height: 90%;
	opacity: 0.9;
}

#heading{
	position: absolute;
	top: 4%;
	left: 42%;
}

#text{
	position: absolute;
	top: 10%;
	left: 42%;
}

#lights_btn_ON{
    color: black;
    text-align: center;
	background-color: grey;
	width:13%;
	height:7%;
    position: absolute;
	top: 55.5%;
	left: 31%;
}

#lights_btn_OFF{
    color: black;
    text-align: center;
	background-color: grey;
	width:13%;
	height:7%;
    position: absolute;
	top: 55.5%;
	left: 16%;
}

#temp_btn_ON{
    color: black;
    text-align: center;
	background-color: grey;
	width:13%;
	height:7%;
    position: absolute;
	top: 55.5%;
	left: 66%;
}

#temp_btn_OFF{
    color: black;
    text-align: center;
	background-color: grey;
	width:13%;
	height:7%;
    position: absolute;
	top: 55.5%;
	left: 51%;
}